@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');


body {
    background-color: steelblue;
}

.pageTitle {
    font-size: 56px;
    font-family: 'IBM Plex Sans', serif, sans-serif;
    text-align: center;
}

.sectionHeader {
    border-top:1px solid black;
    text-align: center;
    font-size: 48px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'IBM Plex Sans', 'Quicksand', sans-serif;
}

.semester {
    border-top: 2px solid black;
    font-size: 24px;
    font-family: 'Quicksand', Helvetica, sans-serif;
    background-color: lightslategrey;
    list-style-type: none;
    text-align: center;
}

.class-list {
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    text-align: center;
    list-style-type: none;
}

.class-list li {
    background-color: firebrick;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    list-style-type: none;
    text-align: center;
    justify-content: space-evenly;
    background: moccasin;
    padding 1em;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: 'IBM Plex Sans', serif, sans-serif;
    background: moccasin;
}

.navigation a:hover {
    background: lightslategrey;
}


.jobList {
    list-style-type: none;
}

.jobList li {
    background-color: firebrick;
    font-family: 'Quicksand', Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}