@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
    background-color: #EFF8E2;
    margin: 0;
}

.pageTitle {
    font-size: 56px;
    font-family: 'IBM Plex Sans', serif, sans-serif;
    text-align: center;
}

.sectionHeader {
    border-top:1px solid black;
    text-align: center;
    font-size: 48px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'IBM Plex Sans', 'Quicksand', sans-serif;
}

.navigationSuper {
    background: #3C6997;
    overflow: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    list-style-type: none;
    text-align: left;
    background: #3C6997;
    padding: 4px;
    gap: 20px;
    margin-left: 20px;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: 'IBM Plex Sans', serif, sans-serif;
    background: #3C6997;
}

.navigation a:hover {
    background: #ACDDE7;
}

.singleImage {
    text-align: center;
}

.paragraph {
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Quicksand', serif, sans-serif;
}

.sublist {
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Quicksand', serif, sans-serif;
}

.imageRow {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.goalItem {
    font-size: 16px;
    font-family: 'Quicksand', serif, sans-serif;
}